.section-explore {
    margin-top: 80px;

    .explore {
        &-items {
            display: flex;
            flex-direction: column;
            row-gap: 100px;
            margin-top: 32px;

            h3 {
                text-align: center;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
            }
        }

        &-item {
            &__price {
                margin-top: 20px;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: $white;
                text-align: center;
                flex-direction: column;
            }
        }

        &-switch {
            margin-top: 20px;
            column-gap: 15px;

            &__checkbox {
                width: 54px;
                height: 25px;
                background: $dark;
                border-radius: 12px;
                position: relative;

                input {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    z-index: 2;

                    &:checked {
                        &+span {
                            transform: translateX(28px);
                        }
                    }
                }

                span {
                    border-radius: 50%;
                    background: $violet;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    transform: translate(0);
                    transition: transform .25s;
                }
            }

            &__title {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: $dark;

                &.active {
                    color: $white;
                }
            }
        }

        &-info {
            margin-top: 96px;
            column-gap: 5%;
            transition: column-gap 0.5s;

            &.reverse {
                flex-direction: row-reverse;

                .explore {
                    &-img {
                        justify-content: start;
                    }

                    &-description {
                        text-align: right;
                    }

                    &-button {
                        margin-left: auto;
                    }
                }
            }
        }

        &-img {
            width: 50%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: end;

            &__wrap {
                width: 300px;
                height: 300px;
                border-radius: 12px;
                @include bg;
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    width: 61px;
                    height: 140px;
                    background: $orange;
                    filter: blur(75px);
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 0;
                    opacity: 0.8;
                }

                img {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }

        &-description {
            min-width: max-content;
            width: 50%;

            ul {
                flex-direction: column;
                font-weight: 400;
                font-size: 15px;
                line-height: 36px;
                display: none;

                &.active {
                    display: flex;
                }
            }

        }

        &-button {
            @include button($orange);
            @include hoverOrange;
            margin-top: 28px;
        }
    }

    @media (max-width: 780px) {
        .explore {

            &-info {
                margin-top: 50px;
            }

            &-img {
                &__wrap {
                    width: 280px;
                    height: 280px;

                    &::before {
                        width: 40px;
                        height: 110px;
                        filter: blur(55px);
                    }


                }
            }
        }
    }

    @media (max-width: 740px) {
        .explore {

            &-info {
                margin-top: 30px;
            }

            &-img {
                &__wrap {
                    width: 240px;
                    height: 240px;

                    &::before {
                        width: 40px;
                        height: 110px;
                        filter: blur(55px);
                    }
                }
            }
        }
    }

    @media (max-width: 700px) {
        .explore {
            &-info {
                position: relative;
            }

            &-img {
                position: absolute;
                z-index: -100;
                opacity: 0.5;

                &__wrap {
                    width: 240px;
                    height: 240px;

                    &::before {
                        width: 40px;
                        height: 110px;
                        filter: blur(55px);
                    }

                    img {
                        max-width: unset;
                    }
                }
            }
        }
    }

    @media (max-width: 600px) {
        h2 {
            font-size: 35px;
        }

        .explore {

            &-button {
                margin: 30px auto 0 auto;
            }

        }
    }

    @media (max-width: 550px) {
        .explore {
            &-img {
                &__wrap {

                    img {
                        height: 300px;
                    }
                }
            }

        }
    }

    @media (max-width: 440px) {
        .explore {
            &-img {
                &__wrap {

                    img {
                        height: 240px;
                    }
                }
            }

            &-description {
                min-width: auto;
                width: auto;

                ul {
                    font-size: 14px;
                    line-height: 32px;
                }
            }

        }
    }
}